@font-face {
  font-family:"Orange Juice";
  src: url("orange juice 2.0.ttf") format("truetype");
}
.oj {
  font-family: Orange Juice;
  margin-top: 0
}

.header {
  text-align: center;
  
}

.contact {
  text-align: center
}

.key {
  font-weight: bolder;
  font-size: 1.2em;
}